{% extends 'qa/base.html' %}


{% block content %}
<h2>
    Question: {{ question.title }}
</h2>
<h3>
    By {{ question.author }}
</h3>
<p>
    {{ question.text }}
</p>
<div>
    <form action={% url 'question' question.id %} method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit answer</button>
    </form>
</div>
<ul>
    {% for answer in answers %}
    <li>
        <h4>
            {{ answer.author }}
        </h4>
        <p>
            {{ answer.text }}
        </p>
    </li>
    {% endfor %}
</ul>
{% endblock %}
